# Default ignored files
/../../Efficiency and quality of architectural solutions /.idea/shelf/
/../../Efficiency and quality of architectural solutions /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Efficiency and quality of architectural solutions /.idea/httpRequests/
# Datasource local storage ignored files
/../../Efficiency and quality of architectural solutions /.idea/dataSources/
/../../Efficiency and quality of architectural solutions /.idea/dataSources.local.xml
